/*
 Theme Name:   soledad child
 Theme URI:    http://pencidesign.com/
 Description:  Soledad Child Theme - Made by PenciDesign
 Author:       Pencidesign
 Author URI:   http://pencidesign.com/
 Template:     soledad
 Text Domain:  soledad
*/

@import url("../soledad/style.css");

/* = Theme customization your go here
-------------------------------------------------------------- */

body{
	left: 0;
	right: 0;
}

.container.has-banner #logo {
	width: auto;
}


.penci-homepage-title.penci-magazine-title {
	text-align: center;
}/*center titles*/

.penci-homepage-title .inner-arrow, .penci-homepage-title.penci-magazine-title .inner-arrow a {
	font-weight: 900;
	font-size: 24px;
}


.footer-widget-wrapper .widget .widget-title:after {
	display: none;
}

.next, .prev{
	border-radius: 50px;
	border: 2px solid #000 !important;
	min-width: 30px !important;
}
.next:hover, .prev:hover {
	background: #000;
}

.next:hover .fa-angle-right:before, .prev:hover .fa-angle-left:before {
	color: #fff;
}


.penci-pagination ul.page-numbers li span, .penci-pagination ul.page-numbers li a{
	border: 0;
	color: #000;
	font-weight: 600;
	min-width: 10px;
}

.fa-angle-right:before , .fa-angle-left:before {
	font-weight: 700;
}

.footer-widget-wrapper .widget ul li {
	border-color: #323230 !important;
}

.widget.widget_categories ul li a:before, .widget.widget_archive ul li a:before {
	color: #777776;
}
.widget ul li a {
	font-size: 15px !important;
}

.footer-widget-wrapper .widget .widget-title {
	font-weight: 900 !important;
}

.penci-sidebar-content .widget-title {
	font-weight: 900 !important;
	font-size: 21px !important;
}

#sidebar .widget.widget_categories ul li a:before {
	display: none;
}

#sidebar .widget ul {
	font-weight: bold;
	text-transform: uppercase;
}

#navigation .menu {
	float: none;
}

#navigation .menu li a {
	font-weight: bold !important;
	font-size: 15px;
}

.penci-pagination ul.page-numbers li{
	margin: 0 2px;
}

.penci-pagination ul.page-numbers li a i {
	margin-top: -1px;
}

.penci-pagination ul.page-numbers li span.current{
	background: none !important;
	color: black !important;
	border-bottom: 1px solid #000 !important;
}


#header .inner-header .container {
	padding-bottom: 20px !important;
}

#footer-copyright * {
	color:#fff;
	text-align: right;
	font-style: normal !important;
}

.fb {
	float: left;
	transition: 0.3;
}
.fb a:hover {
	opacity: 0.3;
}

#widget-area .cat-item {
	padding-bottom: 4px !important;
	margin-bottom: 4px !important;
}
widget-area{
	border-top: 0;
}


/*szukajka*/
.search {
	position: absolute;
    top: 55px;
    right: 0;
}
.search_text{
	height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #e9e8e8;
}

.search_submit{
	background-image: url(images/szukaj.png);
    height: 27px;
    background-repeat: no-repeat;
    width: 22px;
    position: absolute;
    background-color: transparent;
    border: 0;
    right: 10px;
    top: 9px;
    cursor: pointer;
}
.search_submit:focus {
	outline: none;
}

#searchform input.search-input {
	background: none;
}
/*.szukajka*/

/*newsletter*/
.newsletter {
	min-height: 90px;
    background-color: #f5f5f5;
    padding-bottom: 0;
    margin-bottom: 0;
}
.newsletter_text {
	font-weight: bold;
	font-size: 17px;
	color: #262626;
	padding-right: 20px;
}
.position{
	display: flex;
	justify-content:center;
	padding-top: 30px;
	align-items: center;
	flex-wrap: wrap;
}


.newsletter_img {
	margin-right: 20px;
}

.newsletter_input {
	height: 40px;
	width: 30%;
	padding: 0 10px;
	outline: 0;
}
.newsletter_submit {
	    height: 40px;
    border: 0;
    background-color: #262626;
    color: #fff;
    padding: 0 30px;
	cursor: pointer;
	outline: 0;
	transition: 0.5s;
	font-weight: bold;
	font-size: 15px;
}
.newsletter_submit:hover{
	background-color: #212121;
}
#penci-end-sidebar-sticky {
	display: none;
}
/*.newsletter*/

/*posts alternately */
.penci-grid li.list-post .item > .thumbnail-right{
	float: right;
}

.penci-grid li.list-post .item .content-list-left {
	padding-right: 400px;
}
/*.posts alternately */

.penci-grid li.magazine-layout .item h2 a{
	font-weight: bold;
}

.cat > a.penci-cat-name , .cat > a.penci-cat-name:after{
	border-color: #e53935;
	color: #e53935;
}

/*separators*/
.separator{
	display: inline-block;
}
.separator:before {
    content: '';
    display: block;
    height: 2px;
    left: 0;
    width: 100%;
    top: 50%;
	margin-top: -1px;
    position: absolute;
    background-color: #bb2930;
}

.penci-homepage-title h3{
	display: block;
}

.penci-sidebar-content .penci-border-arrow .inner-arrow {
	display: inline-block;
    z-index: 10;
    background-color: #fff;
}

h4.widget-title.penci-border-arrow:before {
	    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #bb2930;
    left: 0;
    top: 24px;
    border: none;
}
/*.separators*/

@media only screen and (max-width: 767px){
	.penci-grid li.list-post .item .content-list-left{
		padding: 0;
	}
	.modal-add-article{
		width:95%;
	}
}

@media only screen and (max-width: 480px){
	.social h3{
		font-size: 12px;
	}
}

@media only screen and (max-width: 960px){
	.search-mobile{
	display: block !important;
	}
	.search{
		display: none;
	}
}

@media only screen and (max-width: 1192px) and (min-width: 961px) {
	.container.has-banner .header-banner{
		display: inline;
		margin-top: 20px;
	}
	.container.has-banner .header-banner > a > img {
		margin-top: 20px;
	}
}

#top-search > a, #navigation .button-menu-mobile{
	color: #000 !important;
}
.search-mobile{
	top:5px;
	display: none;
}


/*social widget*/
.social-fb{
	width: 100%;
	height: 58px;
	background-color: #3b5998;
	margin-top: 20px;
}

.social-yt{
	width: 100%;
	height: 58px;
	background-color: #b41f23;
	margin-top: 20px;
}

.social-video{
	width: 100%;
	height: 58px;
	background-color: #000;
	margin-top: 20px;
}
.social{
	position: relative;
}
.social:hover{
	opacity: 0.8;
}
.social h3 {
		position: absolute;
    top: 50%;
    transform: translateY(-50%);
	left: 0;
	right: 0;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	color:#fff;
	padding-left: 20px;
}

.penci-sidebar-content .social img{
	position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

body .penci-slider ol.penci-control-nav li a{
	border-color: #e53935;
}



/*single article*/
.post-related{
	border: 0;
}
.post-related .post-title-box,
.post-comments .post-title-box{
	padding-bottom: 40px;
}

#respond h3.comment-reply-title span:before, #respond h3.comment-reply-title span:after, .post-box-title:before, .post-box-title:after{
	width: 130%;
	height: 2px;
}
.post-box-title:before,.post-box-title:after{
	width: 190% !important;
}
.post-comments .post-title-box{
	border: 0;
}


/*comment*/
#respond p.comment-form-author, #respond p.comment-form-email, #respond p.comment-form-url, .wpcf7 p.name, .wpcf7 p.email, .wpcf7 p.subject{
	width: 50%;
}
#submit{
	float: right;
	color: #b41f24 !important;
	background-color: transparent !important;
	border: 1px solid #b41f24 !important;
	font-weight: bold !important;
	font-size: 16px !important; 
	padding: 9px 20px !important;
	transition: 1s !important	;
}
#submit:hover{
	background-color: #b41f24 !important;
	color: #fff !important;
}
/*.comment*/

#respond h3.comment-reply-title span, .post-box-title{
	color:#000000;
	font-size: 20px;
	font-weight: 600;
}

.thecomment .comment-text span.author{
	float: left;
	padding-right: 10px;
	font-size: 14px;
	font-style: italic;
}

.thecomment .comment-text span.author a{
	font-weight: 400 !important;
}

.post-entry p{
	font-size: 16px !important;
	color: #000;
}
.post-entry h3{
	color: #000;
	font-weight: bold;
	font-size: 21px !important;
}

.widget ul.side-newsfeed li .side-item .side-item-text .side-item-meta{
	font-size: 14px;
	font-weight: 400;
}

.widget ul.side-newsfeed li.featured-news .side-item .side-item-text h4 a{
	font-weight: bold;
	font-size: 18px;
	color: #313131;
}

.container-single .single-post-title{
	color: #000000;
	font-size: 24px;
	font-weight: bold;
}

.container.penci-breadcrumb {
	display: none;
}

.thecomment .comment-content p {
	font-size: 15px;
	font-weight: 400;
	color: #9c9c9c;
}
.related_post_cat a{
	vertical-align:0 !important; 
}

#widget-area span.cat.related_post_cat {
	display: none;
}

.post-comments .post-title-box .post-box-title:before,
.post-comments .post-title-box .post-box-title:after,
.post-title-box, #respond h3.comment-reply-title span:after,
.post-title-box, #respond h3.comment-reply-title span:before {
	height: 1px !important;
}
/*.single article*/


/*compare */

.compare{
	border: 2px solid #bdbdbd;
	position: relative;
	margin-top: 70px;
    margin-bottom: 50px;
}
.compare_product_wrap{
	
	margin-bottom: 30px;
	    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	text-align: center;
}
.compare_product{
	min-width: 200px;
	width:33%;
	margin-top: 40px;
}
.compare span{
    position: absolute;
    display: table-column;
    top: -15px;
    right: 0;
    left: 0;
    text-align: center;
}
.compare span h3{
    background-color: #fff;
    font-size: 21px;
    font-weight: 900;
    display: inline-block;
    color: #b41f24;
    height: auto;
	padding: 0 10px;
}
.compare img{
	padding-top: 45px;
}
.compare_price{
	font-size: 34px;
	font-weight: bold;
	color: #b41f24;
	padding-bottom: 10px;
}
.compare p {
	font-size: 18px;
	font-weight: 600;
	color: #000;
}

@media only screen and (max-width: 767px){
	.compare span{
		top: 10px;
	}
	.compare_product_wrap{
		margin-top: 50px;
	}
}

@media only screen and (max-width: 479px){
	.compare_product{
		border-bottom: 1px solid #bdbdbd;
		padding-bottom: 25px;		
	} 

}
/*.compare */

/*archive page*/
.title-bar:before{
	    content: '';
    height: 2px;
    width: 100%;
    display: block;
    background-color: #bb2930;
    top: 50%;
    position: absolute;
    margin-top: -1px;
}

.title-bar span,.title-bar h1{
	background: #fff;
}
.title-bar span{
	padding-left: 20px;
}
.title-bar h1{
	padding-right: 20px;	
	margin-left: -4px;
}
.archive-box:after, .archive-box:before{
	display: none;
}

.archive-box .title-bar{
	top: 13px;
}

.widget_categories{
	margin-top: 1px !important;
}
/*.archive page*/


/*modal popup*/
.modal-add-article{
	width: 55%;
    margin: 0 auto;
	background: #fafafa;
	
}

.popup_top_space {
	    width: 100%;
    height: 70px;
    background: #f5f5f5;
}
.popup_title{
	font-size: 33px;
	font-weight: bold;
	color: #313131;
	text-transform: uppercase;
}
.popup_container p {
	margin-top: 30px;
	font-size: 21px;
	font-weight: 400;
}
.popup_container{
	margin-top: 50px;
	padding: 0 20px;
}
.popup_submit{
	background: #bb2930;
	margin-left: -5px;
		height: 55px;
	font-size: 24px;
	font-weight: 400;
	padding: 0 45px;
font-family: 'Open Sans', sans-serif;
}
.popup_input{
	border:1px solid #bb2930;
	width: 64%;
	vertical-align:top;
	height: 55px;
}
.newsletter_popup{
	padding-bottom: 70px;
	padding-top: 50px;
}
.popup_bg_color{
	background: #fafafa;
}

.mfp-close-btn-in .mfp-close{
	background-image: url(../soledad-child/images/x.png);
    text-indent: -9999px;
    position: absolute;
    top: -20px;
    background-repeat: no-repeat;
    right: -20px;
    opacity: 1;
	
}
.popup_top_space img {
	margin-top: 40px;
}

@media only screen and (max-width: 767px){
	.modal-add-article{
		width:95%;
	}
}
/*.modal popup*/

